page-news-events {
  .img-div {
    min-height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .bold {
    font-weight: 700;
    font-size: 1.5em;
  }
}