<ion-header no-shadow no-border>
  <ion-navbar color="purple">
    <ion-title>Financials</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)" class="more-icon">
        <i class="lni-more"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="grid-noise">
  <page-loader *ngIf="!loaded" [fill]="fill"></page-loader>


  <div class="depositing center" *ngIf="depositing">
    <h3 class="h3">Please confirm your payment</h3>
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <div class="main-section" *ngIf="loaded && !depositing">
    <div class="finance-balance">
      <span class="bal ml1">Balance <span class="spacer"></span>
        {{ finance.currency }}{{ (title === 'Tuition')? finance.fees_balance : finance[title] }}</span>
    </div>
    <accordion-list [title]="title" headerColor="#3c1170" contentColor="#3c1170">
      <ion-list>
        <button text-center ion-item *ngFor="let title of titles" (click)="changeTitle(title)" class="list-pkg">
          {{ title }}
        </button>
      </ion-list>
    </accordion-list>

    <section class="statement-section">
      <ion-item-divider class="text-primary text-primary profile-links" color="secondary">{{ filteredTrans.length }}
        Transaction{{ (filteredTrans.length === 1)? '' : 's' }}
      </ion-item-divider>
      <ion-list>
        <button ion-item *ngFor="let trans of filteredTrans" (click)="moreInfo(trans)">
          <h2 class="h2 bold">{{ transactionDate(trans.created_at) }}</h2>
          <h2 class="h3">{{ trans.payment_type }}</h2>
          <span item-end>{{ finance.currency }}{{ trans.amount }}</span>
          <ion-note>#ref: {{ trans.refrence_number }}</ion-note>
        </button>
      </ion-list>
    </section>

  </div>


</ion-content>